[submodule "dvl-a50-ros"]
	path = dvl-a50-ros
	url = https://github.com/nschang/dvl-a50-ros-driver.git
[submodule "dvl-a50-future-work/PosHold/AP_VisualOdom"]
	path = dvl-a50-future-work/PosHold/AP_VisualOdom
	url = https://github.com/ArduPilot/ardupilot.git
[submodule "dvl-a50-future-work/PosHold/ardupilot-dvl"]
	path = dvl-a50-future-work/PosHold/ardupilot-dvl
	url = https://github.com/nschang/ardupilot.git
[submodule "dvl-a50-future-work/PosHold/nortekdvl-driver"]
	path = dvl-a50-future-work/PosHold/nortekdvl-driver
	url = https://github.com/Williangalvani/ardupilot.git
[submodule "dvl-a50-data/dvl-serial-python"]
	path = dvl-a50-data/dvl-serial-python
	url = https://github.com/nschang/dvl-python.git
[submodule "bluerov-repo/bluerov-ros-pkg-local"]
	path = bluerov-repo/bluerov-ros-pkg-local
	url = https://github.com/nschang/bluerov-ros-pkg.git
[submodule "bluerov-repo/bluerov-ros-playground"]
	path = bluerov-repo/bluerov-ros-playground
	url = https://github.com/nschang/bluerov_ros_playground.git
